<%- include('partials/header') %>
<h1>About Us</h1>
<p>
We are a community of blog that will keep you updated about new technologies 
Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on Blogger. Sign up to discover why millions of people have published their passions here.
Save the moments that matter. Blogger lets you safely store thousands of posts, photos, and more with Google.
</p>
<p>To know more about us  : <a href="https://www.blogger.com/about/"> Click Here</a></p>
<p>To Publish a Blog : <a href="/compose"> Publish some Blogs </a></p>
<p>To read some blog : <a href="/home">Read some Blogs</a></p>
<%- include('partials/footer') %>